.saved-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.avoid-title,
.attend-title,
.back-button {
  height: 10vh;
  background-color: #FC9F5B;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vw;
  letter-spacing: .5vh;
}

.back-button {
  letter-spacing: 1vh;
}

.avoid-title,
.attend-title {
  background-color:#7DCFB6;
}

.avoid-container,
.attend-container {
  height: 45vh;
}

.attend-cards-container,
.avoid-cards-container {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.attend-card,
.avoid-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2vh;
  padding: 1vh;
  border: 2px solid black;
  background-color: #FBD1A2;
  width: 50vh;
  height: 30vh;
  min-width: 190px;
}

.avoid-card {
  background-color: lightcoral;
}

.country-name-card {
  font-size: 5vw;
}

.date-card {
  font-size: 4vw;
  font-weight: bold;
  letter-spacing: .2vh;
}

.holiday-name-card {
  font-size: 4vw;
}

.remove-btn {
  height: 4vh;
  width: 12vw;
  border-radius: 2vh;
  background-color: #FC9F5B;
  font-size: 2.5vh;
}

.remove-btn:hover,
.remove-btn:focus,
.remove-btn:active {
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 0 1px 1px #7DCFB6;
  transform: scale(1.01);
  transition: transform .3s;
}

.back-btn:hover,
.back-btn:focus,
.back-btn:active {
  cursor: pointer;
  box-shadow: 0 0 1px 1px #7DCFB6;
  transform: scale(1.01);
  transition: transform .3s;
}

@media screen and (max-width: 760px) {
  .saved-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  
  .avoid-title,
  .attend-title,
  .back-button {
    height: 10vh;
    background-color: #FC9F5B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vw;
    letter-spacing: .5vh;
  }
  
  .back-button {
    letter-spacing: 1vh;
  }
  
  .avoid-title,
  .attend-title {
    background-color:#7DCFB6;
  }
  
  .avoid-container,
  .attend-container {
    height: 45vh;
  }
  
  .attend-cards-container,
  .avoid-cards-container {
    display: flex;
    flex-direction: row;
    overflow: scroll;
  }
  
  .attend-card,
  .avoid-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2vh;
    padding: 1vh;
    border: 2px solid black;
    background-color: #FBD1A2;
    width: 50vh;
    height: 30vh;
    min-width: 190px;
  }
  
  .avoid-card {
    background-color: lightcoral;
  }
  
  .country-name-card {
    font-size: 5vw;
  }
  
  .date-card {
    font-size: 4vw;
    font-weight: bold;
    letter-spacing: .2vh;
  }
  
  .holiday-name-card {
    font-size: 4vw;
  }
  
  .remove-btn {
    height: 4vh;
    width: 12vw;
    border-radius: 2vh;
    background-color: #FC9F5B;
    font-size: 2.5vh;
  }
  
  .remove-btn:hover,
  .remove-btn:focus,
  .remove-btn:active {
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 1px 1px #7DCFB6;
    transform: scale(1.01);
    transition: transform .3s;
  }

  .back-btn:hover,
  .back-btn:focus,
  .back-btn:active {
    cursor: pointer;
    box-shadow: 0 0 3px 3px #7DCFB6;
    transform: scale(1.03);
    transition: transform .3s;
  }
}