* {
  box-sizing: border-box;
  margin: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: lightcoral;
}

.nav {
  height: 30vh;
  width: 100vw;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}