.holiday-card {
  height: 25vh;
  width: 95vw;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.data-container {
  display: flex;
  flex-direction: column;
}

.thumb-container {
  display: flex;
  justify-content: space-evenly;
}



